<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <h2>New User</h2>
                    <form name="formEditUser" ng-submit="submit()">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td>Name</td>
                            <td><input type="text" class="form-control" ng-value="user.realname" ng-model="user.realname"></td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td><input type="text" class="form-control" ng-value="user.username" ng-model="user.username"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Opslaan" class="btn btn-primary"> 
                                <input type="button" ng-click="cancel()" value="Annuleren" class="btn btn-warning"> 
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
              
            </div>
           
        </div>
    </div>
</div>