<div class="container">
  <div class="jumbotron">
    <h1>{{ header }}</h1>
    <p>{{ subheader }}</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Creator</h3>
        <table>
          <tr>
            <td>Name</td>
            <td>{{creator.name}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{creator.email}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{creator.phone}}</td>
          </tr>
        </table>
    </div>
    <div class="col-md-6">
      <h3>Info</h3>
        <table>
          <tr>
            <td>Codeigniter</td>
            <td><a href="{{info.codeigniter}}"> Klik hier</a></td>
          </tr>
          <tr>
            <td>Restserver</td>
            <td><a href="{{info.restserver}}"> Klik hier</a></td>
          </tr>
          <tr>
            <td>Bootstrap</td>
            <td><a href="{{info.bootstrap}}"> Klik hier</a></td>
          </tr>
        </table>

    </div>
  </div>