<div class="container">
    <div class="table-responsive">
        <a href="" ng-click="addUser()" class="btn btn-success">New User</a> 
        <form role="search">
            <div class="input-group pull-right">
                <input type="text" name="user-filter" placeholder="Filter" class="form-control" ng-model="userFilter">
			</div>
        </form>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Realname</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="user in users | filter:userFilter">
                <td>{{ user.realname }}</td>
                <td>{{ user.username }}</td>
                <td><a href="" ng-click="editUser(user.id)">Edit</a> | <a href="" ng-click="deleteUser(user.id)">Delete</a></td>
            </tr>
        </table>
    </div>
</div>